@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

/*                     */
/* All Across The Page */
/*                     */

:root {
	--background-color: #181818;
	--primary-text-color: #FFFFFF;
	--secondary-text-color: #B9B9B9;
	--font: 'Rubik', sans-serif;
	--primary-link-color: #2957C1;
	--secondary-link-color: #1E3F8A;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font);
	color: var(--primary-text-color);
}

a {
	text-decoration: none;
}

body {
	background: radial-gradient(100% 100% at 50% 0%, rgb(67, 94, 183) 0%, #181818 100%);
	background-color: #181818;
	animation: show-radial-background 5s forwards ease-in-out;
	background-repeat: no-repeat;
}

@keyframes show-radial-background {
	0% {background-size: 100% 0vh}
	100% {background-size: 100% 100%}
}


body::-webkit-scrollbar {
	width: 16px;
	background-color: transparent;
} 
  
body::-webkit-scrollbar-thumb {
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
	width: 16px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(200, 200, 200, 1);
}

.hidden {
	opacity: 0;
	transition: opacity 2s;
}

.show {
	opacity: 1;
}

/*                        */
/* Desktop Navigation Bar */
/*                        */

.desktop-navbar[filled],
.desktop-navbar[unfilled] {
	padding: 0.5rem 0 0.5rem 0.5rem;
	z-index: 3;
	top: 0;
	position: fixed;
	width: 100%;
	overflow: hidden;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

#navbar-icon {
	height: 80px;
	width: 73.33px;
	object-fit: contain;
}

#navbar-logo {
	width: 300px;
	height: 80px;
	object-fit: contain;
	display: none;
}

#navbar-page-id {
	font-size: 4rem;
	color: white;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

.page {
	min-height: 100vh;
	padding-top: 100px;
}

.page-header .comment-indicator-start, .comment-indicator-end {
	display: none;
}

.page-header {
	font-size: clamp(1.6rem, 7vw, 4rem);
	text-align: center;
	margin-top: 1px;
	padding: 25px 0 25px 0;
	color: #47DA44;
	
}

.page-header[animate]::before {
	content: "//";
	animation: comments-start 8s, comments-fadeInOut 1.56s linear -1s 6;
}

.page-header[animate]::after {
	content: "";
	animation: comments-end 8s, comments-fadeInOut 1.56s linear -1s 6;  
}

@keyframes comments-start {
	0% {content: "//"; }
	20% {content: "#"; }
	40% {content: "<!--";}
	60% {content: "/*";}
	80% {content: "'"}
	100% {content: "--";}
}

@keyframes comments-end {
	0% {content: "";}
	20% {content: ""; }
	40% {content: "-->"; }
	60% {content: "*/";}
	80% {content: "";}
	100% {content: "";}
}

@keyframes comments-fadeInOut {
	0% {opacity: 0;} 
	50% {opacity: 1;} 
	100% {opacity: 0;}
}

/*           */
/* Blog Page */
/*           */

#blog-cards-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.blog-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background-color: #252525;
	border-radius: 12px;
	width: 500px;
	max-height: fit-content;
}

.blog-card-image {
	width: 100%;
	border-radius: 12px 12px 0 0;
}

.blog-card-text {
	padding: 5px 10px 10px 10px;
}

.blog-card-preview-title {
	font-weight: 600;
	font-size: clamp(1rem, 7vw, 1.8rem);
}

.blog-card-description {
	font-size: clamp(0.8rem, 7vw, 1.2rem);
}

.blog-card-footer, .blog-card-redirect-container {
	text-align: center;
	width: 100%;
	padding: 10px;
	border-radius: 0 0 12px 12px;
}

.blog-card-redirect-container {
	display: none;
}

/* Hover to Redirect */
.blog-card:hover .blog-card-footer {
	display: none;
}

.blog-card:hover .blog-card-redirect-container {
	display: inline;
	width: 100%;
	font-weight: 600;
}

.blog-card:hover .blog-card-redirect-container {
	cursor: pointer;
	background-color: var(--primary-link-color);
}

.blog-card:hover > .blog-card-footer:hover {
	background-color: var(--secondary-link-color);
}
