@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*                     */
/* All Across The Page */
/*                     */

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #181a1b;
	z-index: -1;
}

#embed-icon, .mobile-hamburger, .output-line  {
	display: none;
}

body::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
} 
  
body::-webkit-scrollbar-thumb {
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
	width: 8px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(200, 200, 200, 1);
}

/*                */
/* File Directory */
/*                */

#file-directory {
	display: flex;
	justify-content: space-around; 
	align-items: center;
	top: 0;
	position: sticky;
	background-color: #1e2020;
	height: 72px;
}

#file-directory > * {
	display: flex;
	justify-content: center; 
	align-items: center; 
}

#title {
	margin-left: auto;
	font-family: 'Rubik', sans-serif;
	text-align: center;
	font-size: clamp(1rem, 5vw, 1.6rem);
	color: rgb(210, 210, 210);
}

#logo {
	margin: 0 5px 0 10px;
	height: 52.36px;
	width: 48px;
}

/*                 */
/* Window Controls */
/*                 */

#window-controls {
	height: 100%;
	margin-left: auto;
}

#minimize {
	width: 48px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
}


#minimize-line {
	width: 16px;
	height: 1px;
	background-color: white;
}

#full-screen {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 100%;
}

#full-screen-box {
	display: flex;
	flex-direction: column;
	width: 16px;
	height: 16px;
	border: solid white 1px;
}

#x {
	width: 48px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
 
.x-line {
	width: 50%;
	height: 1px;
	background-color: white;
}

#x:hover {
	background-color: red;
}

.x-line:nth-child(1) {
	transform: rotate(-45deg) translate(-1px, 0px);
}

.x-line:nth-child(2) {
	transform: rotate(45deg);
}

/*                 */
/* Loading Content */
/*                 */

p {
	word-break: break-word;
	white-space: pre-line;
	overflow-wrap: break-all;
}

#start-line {
	word-break: break-all;
	color: white;
	margin: 0px 5px;
	font-size: clamp(1.4rem, 5vw, 2.2rem);
	font-family: 'Rubik', sans-serif;
}

#cursor {
	display: inline-block;
	position: relative;
	z-index: -1;
	top: 5px;
	background-color: #FFF;
	height: clamp(1.4rem, 5vw, 2.2rem);
	width: clamp(1.4rem, 5vw, 1rem);
}

#single-br {
	display: block;
	margin-bottom: 1.9rem;	
}

#double-br {
	display: block;
	margin-bottom: 3.8rem;
}

.output-line.is-active {
	display: inline;
	color: white;
	margin: 0px 5px;
	font-size: clamp(1.4rem, 5vw, 2.2rem);
	overflow-wrap: break-word;
	word-wrap: break-word;
	font-family: 'Rubik', sans-serif;
}

/*               */
/* Inline Colors */
/*               */

#npm {color:#FFF500}
#predeploy {color:#0469FF}
#green {color:#07B02C}
#vite {color:#1163DE}
#html {color: #ED5233}
#css {color: #1F99D2}
#js {color: #F2DC62}
#image {color: #00CF85}
#version {color: #00A3FF}
#license {color: #A35800}

@keyframes appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes disappear {
	0% {opacity: 1;}
	100% {opacity: 0;}   
}

/*                                    */
/* Screen Size Awareness / Animations */
/*                                    */

@media screen and (max-width: 500px) {
	#window-controls {
		display: none;
	}
	#file-directory {
		justify-content: center;
	}
	#title {
		margin-left: 0;
	}
}