@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: #FFFFFF;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

hr {
  width: 100%;
}

.hidden {
  opacity: 0;
  transition: opacity 2s;
}

.show {
  opacity: 1;
}

*:focus-visible {
  outline: 2px solid #FFFFFF;
  border-radius: 8px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.desktop-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0.5rem 0 0.5rem 0.5rem;
  z-index: 3;
  top: 0;
  width: 100%;
  overflow: hidden;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  height: 100px;
}
.desktop-navbar > .navbar-links > * {
  font-size: clamp(1rem, 2vw, 1.4rem);
  z-index: 1;
  background-size: 1rem 1rem;
  margin-right: 2rem;
  background: none;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1138px) {
  .desktop-navbar > .navbar-links > * {
    display: none;
  }
}
.desktop-navbar > #navbar-icon {
  display: none;
  height: 80px;
  width: 73.33px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 440px) {
  .desktop-navbar > #navbar-icon {
    display: inline;
    margin-left: 0.5rem;
  }
}
.desktop-navbar > #navbar-logo {
  width: 300px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 440px) {
  .desktop-navbar > #navbar-logo {
    display: none;
  }
}

/*                             */
/* Mobile Navigation Hamburger */
/*                             */
.mobile-hamburger {
  display: none;
  padding: 0;
  position: absolute;
  right: 30px;
  width: 32px;
  height: 32px;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  animation: appear 2.2s ease;
}
@media screen and (max-width: 1139px) {
  .mobile-hamburger {
    opacity: 1;
    display: flex;
  }
}
.mobile-hamburger > .bar {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  transition: all 0.9s;
}
.mobile-hamburger[open] .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 10px);
  transition: all 0.9s;
}
.mobile-hamburger[open] .bar:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.9s;
}
.mobile-hamburger[open] .bar:nth-child(3) {
  opacity: 0;
  transition: opacity 0.9s;
}
.mobile-hamburger[closed], .mobile-hamburger [open] .bar:nth-child(3) {
  opacity: 1;
  transition: opacity 0.9s;
}

/*                        */
/* Mobile Navigation List */
/*                        */
#mobile-navlist {
  position: fixed;
  padding-top: 100px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background: rgba(21, 21, 21, 0.8);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  overflow: hidden;
  transition: all 1.5s;
}
#mobile-navlist[closed] {
  opacity: 0;
  padding-top: 0;
  height: 1px;
}
#mobile-navlist[open] {
  opacity: 1;
  z-index: 1;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
}
@media screen and (min-width: 1140px) {
  #mobile-navlist {
    display: none;
  }
}
#mobile-navlist > #navlist-title {
  text-align: center;
  font-size: 2rem;
}
#mobile-navlist > #navlist-links > .navlist-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100vw;
  cursor: pointer;
  margin-bottom: auto;
}
@media screen and (max-height: 554px) {
  #mobile-navlist > #navlist-links > .navlist-link {
    padding-top: 0px;
  }
}
#mobile-navlist > #navlist-links > .navlist-link:hover, #mobile-navlist > #navlist-links > .navlist-link:focus {
  background-color: rgba(0, 0, 0, 0.4);
}
#mobile-navlist > #navlist-links > .navlist-link > .navlist-icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(344deg) brightness(107%) contrast(101%);
}
#mobile-navlist > #navlist-links > .navlist-link > .navlist-link-text {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100px;
  font-size: 1rem;
}

html, body {
  background: radial-gradient(100% 100% at 50% 0%, rgb(173, 20, 9) 0%, #181818 100%);
  background-color: #181818;
  animation: show-radial-background 5s forwards ease-in-out;
  background-repeat: no-repeat;
}
@keyframes show-radial-background {
  0% {
    background-size: 100vw 0vh;
  }
  100% {
    background-size: 100vw 100vh;
  }
}

#readme-link {
  font-size: 1.4rem;
}
@media screen and (max-width: 1137px) {
  #readme-link {
    display: inline;
  }
}

.page {
  height: 100%;
}
@media screen and (max-height: 300px) {
  .page {
    padding-top: 50px;
  }
}
@media screen and (max-height: 280px) {
  .page {
    padding-top: 25px;
  }
}
.page > #error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}
.page > #error-container > #error-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page > #error-container > #error-content > #error-code {
  font-size: clamp(5rem, 10vw, 10rem);
  font-family: "Rubik", sans-serif;
  color: white;
}
.page > #error-container > #error-content > #error-link {
  text-decoration: underline;
  cursor: pointer;
}
.page > #error-container > #error-content > #error-name, .page > #error-container > #error-content #error-link {
  font-family: "Rubik", sans-serif;
  font-size: clamp(1rem, 2vw, 2rem);
  color: white;
}
.page > #error-container > #error-content > #error-name > #cursor {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 5px;
  background-color: #FFFFFF;
  height: clamp(1rem, 2vw, 2rem);
  width: 3px;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: calc(100% - 44px);
  left: 50%;
  transform: translate(-50%);
  gap: 10px;
  width: 100%;
}
@media screen and (max-width: 320px) {
  #footer {
    top: calc(100% - 88px);
  }
}
#footer > #github-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 320px) {
  #footer > #github-links {
    flex-direction: column;
  }
}
#footer > #github-links > .site-embed {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: #2c2c2c;
  border-radius: 8px;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}
#footer > #github-links > .site-embed > .site-icon {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=404.css.map */