//
// Fonts
//

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap')

//
// Background Colors
//

$primary-background-color: #181818
$secondary-background-color: #252525

$scroll-bar-background-color: rgba(200, 200, 200, 0.5)

$project-card-title-background-color: rgba(0, 0, 0, 0.3 )
$project-card-content-background-color: rgba(0, 0, 0, 0.6)

$tooltip-background-color: #292a2d
$tooltip-border-color: #CfD1D4

//
// Text Colors / Fonts / Link Colors
//

$primary-text-color: #FFFFFF
$secondary-text-color: #B9B9B9

$font: 'Rubik', sans-serif

$primary-link-color: #0093FF
$secondary-link-color: #0073FF

//
// Tags
//

$tag-personal-background-color: #FE9800
$tag-personal-background-gradient: linear-gradient(90deg, rgba(254, 152, 0, 1) 0%, rgba(163, 99, 2, 1) 100%)

$tag-school-background-color: #CF1313
$tag-school-background-gradient: linear-gradient(90deg, rgba(207, 19, 19, 1) 0%, rgba(11, 163, 205, 1) 100%)

$tag-website-background-color: #131212
$tag-website-background-gradient: linear-gradient(90deg, rgba(19, 18, 18, 1) 0%, rgba(118, 119, 118, 1) 100%)

$tag-fullstack-background-color: #0BD2D5
$tag-fullstack-background-gradient: linear-gradient(90deg, rgba(11, 210, 213, 1) 0%, rgba(29, 191, 92, 1) 100%)

$tag-frontend-background-color: #0BD2D5
$tag-frontend-background-gradient: linear-gradient(90deg, rgba(11, 210, 213, 1) 0%, rgba(2, 131, 133, 1) 100%)

//
// Mixins
//

@mixin flex($direction, $justify, $align)
	display: flex
	flex-direction: $direction
	justify-content: $justify
	align-items: $align

//
// Elements
//

*
	box-sizing: border-box
	margin: 0
	padding: 0
	font-family: $font
	color: $primary-text-color

html, body 
	height: 100%
	width: 100%

a
	text-decoration: none

hr 
	width: 100%

.hidden 
	opacity: 0
	transition: opacity 2s

.show 
	opacity: 1

*:focus-visible
	outline: 2px solid #FFFFFF
	border-radius: 8px

//
// Animations
//

@keyframes fadeIn
	0% 
		opacity: 0
	100% 
		opacity: 1