@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: #FFFFFF;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

hr {
  width: 100%;
}

.hidden {
  opacity: 0;
  transition: opacity 2s;
}

.show {
  opacity: 1;
}

*:focus-visible {
  outline: 2px solid #FFFFFF;
  border-radius: 8px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.desktop-navbar {
  padding: 0.5rem 0 0.5rem 0.5rem;
  z-index: 3;
  top: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.desktop-navbar > #navbar-icon {
  height: 80px;
  width: 73.33px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
.desktop-navbar > #navbar-page-id {
  font-size: clamp(2.5rem, 16vw, 4rem);
  font-weight: 400;
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 16px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 10px;
  width: 16px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

#exit-button-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#exit-button-container > #exit-button {
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  border-radius: 100px;
  gap: 10px;
  width: 200px;
}
#exit-button-container > #exit-button:hover, #exit-button-container > #exit-button:focus {
  transform: scale(1.1);
}
#exit-button-container > #exit-button > #exit-image {
  width: 32px;
  height: 32px;
}

.page-header {
  font-size: clamp(1.6rem, 7vw, 4rem);
  text-align: center;
  margin-top: 1px;
  padding: 25px 0 25px 0;
  color: #47DA44;
}
.page-header .comment-indicator-start, .page-header .comment-indicator-end {
  display: none;
}
.page-header[animate]::before {
  content: "//";
  animation: comments-start 8s, comments-fadeInOut 1.56s linear -1s 6;
}
.page-header[animate]::after {
  content: "";
  animation: comments-end 8s, comments-fadeInOut 1.56s linear -1s 6;
}

@keyframes comments-start {
  0% {
    content: "//";
  }
  20% {
    content: "#";
  }
  40% {
    content: "<!--";
  }
  60% {
    content: "/*";
  }
  80% {
    content: "'";
  }
  100% {
    content: "--";
  }
}
@keyframes comments-end {
  0% {
    content: "";
  }
  20% {
    content: "";
  }
  40% {
    content: "-->";
  }
  60% {
    content: "*/";
  }
  80% {
    content: "";
  }
  100% {
    content: "";
  }
}
@keyframes comments-fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.disclaimer {
  width: 100%;
  text-align: center;
  font-weight: 200;
  padding: 20px;
  font-size: 1.17rem;
}

#blog-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 3px 25px 25px 25px;
  width: 100%;
  gap: 20px;
  overflow-x: auto;
}
@media screen and (max-width: 1040px) {
  #blog-cards-container {
    justify-content: flex-start;
  }
}
#blog-cards-container > .blog-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
  border-radius: 12px;
  min-width: 500px;
  max-width: 500px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 540px) {
  #blog-cards-container > .blog-card {
    min-width: 400px;
  }
}
@media screen and (max-width: 420px) {
  #blog-cards-container > .blog-card {
    min-width: 300px;
  }
}
@media screen and (max-width: 310px) {
  #blog-cards-container > .blog-card {
    min-width: 250px;
  }
}
#blog-cards-container > .blog-card > .blog-card-content > .blog-card-image {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
#blog-cards-container > .blog-card > .blog-card-content > .blog-card-text {
  padding: 5px 10px 10px 10px;
}
#blog-cards-container > .blog-card > .blog-card-content > .blog-card-text > .blog-card-preview-title {
  font-weight: 600;
  font-size: clamp(1rem, 7vw, 1.8rem);
}
#blog-cards-container > .blog-card > .blog-card-content > .blog-card-text > .blog-card-description {
  font-size: clamp(0.8rem, 7vw, 1.2rem);
}
#blog-cards-container > .blog-card > .blog-card-footer, #blog-cards-container > .blog-card .blog-card-redirect-container {
  text-align: center;
  width: 100%;
  padding: 10px;
  border-radius: 0 0 12px 12px;
}
#blog-cards-container > .blog-card > .blog-card-redirect-container:not(:focus) {
  display: none;
  cursor: pointer;
}
#blog-cards-container > .blog-card:focus > .blog-card-footer, #blog-cards-container > .blog-card:hover > .blog-card-footer {
  display: none;
}
#blog-cards-container > .blog-card:focus > .blog-card-redirect-container:not(:focus), #blog-cards-container > .blog-card:hover > .blog-card-redirect-container:not(:focus) {
  display: inline;
  background-color: #0093FF;
  font-weight: 600;
}
#blog-cards-container > .blog-card:focus > .blog-card-redirect-container:not(:focus):hover, #blog-cards-container > .blog-card:hover > .blog-card-redirect-container:not(:focus):hover {
  background-color: #0073FF;
}
#blog-cards-container > .blog-card:focus-within > .blog-card-footer {
  display: none;
}
#blog-cards-container > .blog-card:focus-within > .blog-card-redirect-container {
  display: inline;
  background-color: #0073FF;
  font-weight: 600;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#footer > #footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: #252525;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  gap: 15px;
}
@media screen and (max-width: 1140px) {
  #footer > #footer-container {
    width: 80%;
  }
}
@media screen and (max-width: 370px) {
  #footer > #footer-container {
    width: 100%;
  }
}
#footer > #footer-container > #footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  gap: 15px;
}
@media screen and (max-width: 595px) {
  #footer > #footer-container > #footer-content {
    flex-direction: column;
  }
}
#footer > #footer-container > #footer-content > #footer-logo > #footer-icon {
  width: 270.56px;
  height: 77.68px;
}
@media screen and (max-width: 300px) {
  #footer > #footer-container > #footer-content > #footer-logo > #footer-icon {
    content: url("/images/branding/ncp-icon.png");
    width: 90px;
    height: 98.18px;
  }
}
#footer > #footer-container > #footer-content > #footer-socials > #contact-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#footer > #footer-container > #footer-content > #footer-socials > #contact-container > .contact-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
#footer > #footer-container > #footer-content > #footer-socials > #contact-container > .contact-image-container > .contact-image {
  width: 32px;
  height: 32px;
}
#footer > #footer-container > #footer-content > #footer-socials > #contact-container > .contact-image-container > .contact-image:hover, #footer > #footer-container > #footer-content > #footer-socials > #contact-container > .contact-image-container > .contact-image:focus {
  transform: scale(1.4);
}
#footer > #footer-container > #footer-documents {
  text-align: center;
}
#footer > #footer-container > #footer-documents > *:hover {
  cursor: pointer;
  text-decoration: underline;
}
#footer > #footer-container > #footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 5px;
}

body {
  background: radial-gradient(100% 100% at 50% 0%, rgb(67, 94, 183) 0%, #181818 100%);
  background-color: #181818;
  animation: show-radial-background 5s forwards ease-in-out;
  background-repeat: no-repeat;
}
@keyframes show-radial-background {
  0% {
    background-size: 100vw 0vh;
  }
  100% {
    background-size: 100vw 100vh;
  }
}

.page {
  padding-top: 100px;
}/*# sourceMappingURL=all-blogs.css.map */