@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

canvas {
    top: 0;
    left: 0;
}

body {
    position: relative;
    overflow-x: hidden;
}

/*Navigation Bar*/
.navbar {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #151515;
    padding: 25px 10%;
}

li {
    display: inline-block;
}

a {
    padding: 33px 15px;
    list-style: none;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    color: white;

}

a:hover {
    background-color: #1E1E1E;
}

/*Content*/
h1 {
    position: absolute;
    top: 50%;
    transform: translate(60%, -50%);
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 5rem;
    font-style: bold;
    text-align: center;
}