@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

/*                     */
/* All Across The Page */
/*                     */

:root {
	--background-color: #181818;
	--primary-text-color: #FFFFFF;
	--secondary-text-color: #B9B9B9;
	--font: 'Rubik', sans-serif;
	--primary-link-color: #2957C1;
	--secondary-link-color: #1E3F8A;
	--footer-background-color: #252525;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font);
	color: var(--primary-text-color);
}

a {
	text-decoration: none;
}

/* 		*/
/* Body */
/* 		*/

body {
	background: radial-gradient(100% 100% at 50% 0%, rgb(67, 94, 183) 0%, #181818 100%);
	background-color: #181818;
	animation: show-radial-background 5s forwards ease-in-out;
	background-repeat: no-repeat;
}

@keyframes show-radial-background {
	0% {background-size: 100% 0vh}
	100% {background-size: 100% 190%}
}

body::-webkit-scrollbar {
	width: 16px;
	background-color: transparent;
} 
  
body::-webkit-scrollbar-thumb {
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
	width: 16px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(200, 200, 200, 1);
}

.hidden {
	opacity: 0;
	transition: opacity 2s;
}

.show {
	opacity: 1;
}

/*                        */
/* Desktop Navigation Bar */
/*                        */

.desktop-navbar {
	padding: 0.5rem 0 0.5rem 0.5rem;
	z-index: 3;
	top: 0;
	position: fixed;
	width: 100%;
	overflow: hidden;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

#navbar-icon {
	height: 80px;
	width: 73.33px;
	object-fit: contain;
	cursor: pointer;
}

#navbar-page-id {
	font-size: clamp(2.5rem, 16vw, 4rem);
	font-weight: 400;
	cursor: pointer;
}

/* 			  */
/* Page Setup */
/* 			  */

.page {
	min-height: 100vh;
	padding-top: 100px;
}

/* 		     */
/* Blog Page */
/* 		     */

#exit-button-container {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#exit-button {
	cursor: pointer;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color);
	border-radius: 100px;
	gap: 10px;
	width: 200px;
}

#exit-button:hover, #exit-button:focus {
	transform: scale(1.1);
}

#exit-image {
	width: 32px;
	height: 32px;
}

#blog-main {
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

#blog-image {
	width: 40%;
	object-fit: contain;
	border-radius: 16px;
}

#blog-title {
	font-size: clamp(0.8rem, 5vw, 2rem);
	font-weight: 600;
}

#blog-publish-info {
	font-size: clamp(0.4rem, 5vw, 1.4rem);
	font-weight: 400;
}

#blog-information {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
	padding: 0 20% 50px 20%;
}

.blog-header {
	font-size: clamp(1.5rem, 2vw, 2rem);
	padding: 10px 0 10px 0;
}

.blog-text, .ordered-list, .blog-quote, .blog-image-desc {
	font-size: clamp(1rem, 2vw, 1.3rem);
}

ul:nth-child(1) {transition-delay: 100ms;}
ul:nth-child(2) {transition-delay: 200ms;}
ul:nth-child(3) {transition-delay: 300ms;}

.ordered-list {
	padding: 20px 0 20px 40px;
}

.blog-inline-image-container {
	padding: 20px 0 0 0;
}

.blog-inline-image {
	width: 100%;
	object-fit: contain;
	border-radius: 16px;
}

.blog-quote, .blog-image-desc {
	text-align: center;
}

.blog-image-desc {
	padding: 10px 25px 25px 25px;
}

.link {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: var(--primary-text-color);
}

/* 		  */
/* Footer */
/* 		  */

#footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

#footer-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	background-color: var(--footer-background-color);
	border-radius: 10px;
	width: 50%;
	padding: 10px;
	gap: 15px;
}

#footer-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	border-radius: 10px;
	width: 100%;
	gap: 15px;
}

hr {
	width: 100%;
}

#footer-icon {
	width: 270.56px;
	height: 77.68px;
}

#footer-documents {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 20px;
}

#footer-copyright {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	gap: 5px;
}

/*#footer-documents, #footer-copyright {
	text-align: center;
	font-size: clamp(0.8rem, 5vw, 1rem);
}

#footer-documents > p:hover {
	cursor: pointer;
	text-decoration: underline;
}*/

#footer-socials {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
}

#footer-socials > * {
	cursor: pointer;
}

.contact-image:hover, .contact-image:focus {
	transform: scale(1.4);
}

/* Contact Links */ 
#contact-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
}

.contact-image-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	width: fit-content;
}

.contact-image {
	width: 32px;
	height: 32px;
}

/*                                    */
/* Screen Size Awareness / Animations */
/*                                    */

/* Blog Padding */
@media screen and (max-width: 900px) {
	#blog-main {
		padding: 25px 10px 25px 10px;
	}
	#blog-image {
		width: 90%;
	}
	#blog-information {
		padding: 0 5% 50px 5%;
	}
}

/* Footer */
@media screen and (max-width: 1140px) {
	#footer-container {
		width: 80%;
	}
}

@media screen and (max-width: 595px) {
	#footer-content {
		flex-direction: column;
	}
}

@media screen and (max-width: 370px) {
	#footer-container {
		width: 100%;
	}
}

@media screen and (max-width: 300px) {
	#footer-icon {
		content: url('/images/branding/ncp-icon.png');
		width: 90px;
		height: 98.18px;
	}
}