@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background: radial-gradient(100% 100% at 50% 0%, rgb(173, 20, 9) 0%, #181818 100%);
	background-color: #181818;
	animation: show-radial-background 5s forwards ease-in-out;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

@keyframes show-radial-background {
	0% {background-size: 100vw 0vh}
	100% {background-size: 100vw 100vh}
}

.desktop-navbar[filled],
.desktop-navbar[unfilled] {
	padding: 0.5rem 0 0.5rem 0.5rem;
	z-index: 3;
	top: 0;
	position: fixed;
	width: 100%;
	overflow: hidden;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#navbar-icon {
	display: none;
	height: 80px;
	width: 73.33px;
	object-fit: contain;
}

#navbar-logo {
	width: 300px;
	height: 80px;
	object-fit: contain;
}

.navbar-links > * {
	font-size: clamp(1rem, 2vw, 1.4rem);
	z-index: 1;
	background-size: 1rem 1rem;
	margin-right: 2rem;
	color: white;
	background: none;
	border: none;
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
	border-radius: 4px;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
}

/*               */
/* Error Section */
/*               */

#error-container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#error-code {
	font-size: clamp(5rem, 10vw, 10rem);
	font-family: 'Rubik', sans-serif;
	color: white;
}

#error-name {
	font-family: 'Rubik', sans-serif;
	font-size: clamp(1rem, 2vw, 2rem);
	color: white;	
}

#cursor {
	display: inline-block;
	position: relative;
	z-index: 1;
	top: 5px;
	background-color: #FFF;
	height: clamp(1rem, 2vw, 2rem);
	width: 3px;
}

/*        */
/* Footer */
/*        */

#footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	position: absolute;
	top: calc(100% - 134px);
	left: 50%;
	width: 100%;
	transform: translate(-50%);
}

#link-image {
	filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(198deg) brightness(107%) contrast(101%);
}

#return-text {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 5px;
	background-color: #181818;
	border-radius: 8px;
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: 1rem;
}

#twitter-logo, #github-logo-small {
	width: 24px;
	height: 24px;
}

#logos {
	display: flex;
	align-items: center;
	justify-content: center;	
	gap: 25px;
}

#mylogo {
	height: 80px;
	width: 73.33px;
}

#bind {
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

#github-logo {
	width: 64px;
	height: 64px;
}

/*                                    */
/* Screen Size Awareness / Animations */
/*                                    */

/* Shorten Logo */
@media screen and (max-width: 440px) {
	#navbar-logo {
		display: none;
	}
	#navbar-icon {
		display: inline;
		margin-left: 0.5rem;
	}
}