@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*                     */
/* All Across The Page */
/*                     */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body::-webkit-scrollbar {
	width: 16px;
	background-color: transparent;
} 
  
body::-webkit-scrollbar-thumb {
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
	width: 16px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(200, 200, 200, 1);
}

/*      */
/* Body */
/*      */

html,
body {
	background: radial-gradient(100% 100% at 50% 0%, rgb(254, 153, 0) 0%, #181818 100%);
	background-color: #181818;
	animation: show-radial-background 5s forwards ease-in-out;
	background-repeat: no-repeat;
}

@keyframes show-radial-background {
	0% {background-size: 100vw 0vh}
	100% {background-size: 100vw 100vh}
}

/* Body Toggle */ 
body[disabled] {
	overflow: hidden;
}

/*                        */
/* Desktop Navigation Bar */
/*                        */

.desktop-navbar[filled],
.desktop-navbar[unfilled] {
	padding: 0.5rem 0 0.5rem 0.5rem;
	z-index: 2;
	top: 0;
	position: fixed;
	width: 100%;
	overflow: hidden;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-links > * {
	font-size: clamp(1rem, 2vw, 1.4rem);
	z-index: 1;
	background-size: 1rem 1rem;
	margin-right: 2rem;
	color: white;
	background: none;
	border: none;
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
	border-radius: 4px;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
}

#navbar-icon {
	display: none;
	height: 80px;
	width: 73.33px;
	object-fit: contain;
}

#navbar-logo {
	width: 300px;
	height: 80px;
	object-fit: contain;
}

/*                             */
/* Mobile Navigation Hamburger */
/*                             */

.mobile-hamburger {
	display: none;
	padding: 0;
	position: absolute;
	right: 30px;
	width: 32px;
	height: 32px;
	flex-direction: column;
	justify-content: space-between;
	opacity: 0;
	animation: appear 2.2s ease;
}

.mobile-hamburger .bar {
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background-color: white;
	transition: all 0.9s;
}

/* Hamburger "Animation" */
.mobile-hamburger[open] .bar:nth-child(1) {
	transform: rotate(-45deg) translate(-10px, 10px);
	transition: all 0.9s;
}
.mobile-hamburger[open] .bar:nth-child(2) {
	transform: rotate(45deg);
	transition: all 0.9s;
}

.mobile-hamburger[closed],
.mobile-hamburger[open] .bar:nth-child(3) {
	opacity: 1;
	transition: opacity 0.9s;
}

.mobile-hamburger[open] .bar:nth-child(3) {
	opacity: 0;
	transition: opacity 0.9s;
}

/*                        */
/* Mobile Navigation List */
/*                        */

#mobile-navlist[open],
#mobile-navlist {
	position: fixed;
	padding-top: 100px;
	z-index: 1;
	display: flex;
	top: 0;
	width: 100%;
	height: 100%;
	height: calc(var(--vh, 1vh) * 100);
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background: rgba(21, 21, 21, 0.8);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	overflow-y: auto;
}

#mobile-navlist {
	overflow: hidden;
	padding-top: 0;
	height: 1px;
	transition: all 1.5s;
}

#mobile-navlist[open] {
	z-index: 1;
	height: 100%;
	height: calc(var(--vh, 1vh) * 100);
}

#navlist-title {
	font-family: 'Rubik', sans-serif;
	text-align: center;
	color: white;
	font-size: 2rem
}

.navlist-link {
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: center;
	width: 100vw;
	cursor: pointer;
	margin-bottom: auto;
}

.navlist-link:focus {
	background-color: rgba( 0, 0, 0, 0.4 );
}

.navlist-icon {
	display: inline-block;
	width: 64px;
	height: 64px;
	filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(344deg) brightness(107%) contrast(101%);
}

.navlist-link-text {
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	color: white;
	text-decoration: none;
	width: 100px;
	font-size: 1rem;
}

/*              */
/* Page Headers */
/*              */

.page-header .comment-indicator-start, .comment-indicator-end {
	display: none;
}

.page-header {
	font-size: clamp(2rem, 3vw, 5rem);
	text-align: center;
	padding: 25px;
	color: #47DA44;
	font-family: 'Rubik', sans-serif;
}

.page-header::before {
	content: "//";
	animation: comments-start 8s, comments-fadeInOut 1.56s linear -1s 6;
}

.page-header::after {
	content: "";
	animation: comments-end 8s, comments-fadeInOut 1.56s linear -1s 6;  
}

@keyframes comments-start {
	0% {content: "//"; }
	20% {content: "#"; }
	40% {content: "<!--";}
	60% {content: "/*";}
	80% {content: "'"}
	100% {content: "--";}
}

@keyframes comments-end {
	0% {content: "";}
	20% {content: ""; }
	40% {content: "-->"; }
	60% {content: "*/";}
	80% {content: "";}
	100% {content: "";}
}

@keyframes comments-fadeInOut {
	0% {opacity: 0;} 
	50% {opacity: 1;} 
	100% {opacity: 0;}
}

/*            */
/* Intro Page */
/*            */

#intro-container {
	padding: 0 40px 0 40px;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#intro-content {
	width: 45%;
}

#intro-header {
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: clamp(1.5rem, 4vw, 5.625rem);
	opacity: 0;
	animation: fadeIn 3s 1s forwards;
}

#intro-detail {
	color: #B9B9B9;
	opacity: 0;
	font-family: 'Rubik', sans-serif;
	font-size: clamp(1.3rem, 2vw, 2.5rem);
	animation: fadeIn 4s 2s forwards;
}

#intro-detail-bold {
	font-weight: 800;
}

#intro-image {
	height: auto;
	width: auto;
	max-height: 50vh;
	max-width: 50vw;
	border-radius: 50%;
	object-fit: contain;
	opacity: 0;
	margin: 25px;
	animation: intro-image-fadeIn 3s forwards, fadeIn 4s forwards;
}

@keyframes intro-image-fadeIn {
	0% {box-shadow: 0px 0px 11px 0px rgba(254, 153, 0, 0);}
	50% {box-shadow: 0px 0px 24px 0px rgba(254, 153, 0, 0.5);}
	100% {box-shadow: 0px 0px 35px 0px rgba(254, 153, 0, 1);}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#intro-link {
	display: flex;
	margin-top: 10px;
}

.link {
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #0094FF;
	border: none;
	background: none;
	font-size: clamp(0.8rem, 3vw, 1.8rem);
	font-family: 'Rubik', sans-serif;
}

.link-image {
	width: clamp(24px, 2vw, 35px);;
	height: auto;
	margin-right: 5px;
	filter: invert(39%) sepia(87%) saturate(2316%) hue-rotate(185deg) brightness(101%) contrast(109%);
}

/*               */
/* Projects Page */
/*               */

#project-container {
	background-color: #181818;
	height: 100vh;
	opacity: 0;
	animation: fadeIn 3s forwards;
}

#projects-disclaimer {
	color: white;
	text-align: center;
	font-weight: 200;
	padding: 20px;
	font-family: 'Rubik', sans-serif;
}

#project-cards-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 25px 0 25px;
	width: 100%;
	gap: 20px;
	flex-wrap: wrap;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-radius: 8px;
	min-width: 400px;	
	min-height: 450px;
	transition: box-shadow 1s ease-in-out;
	overflow: hidden;
}

.card-image {
    height: 100%;
	width: 100%;
	border-radius: 8px;
}

.card-preview-title {
	position: absolute;
	text-align: center;
	background: rgba(0, 0, 0, 0.3 );
	border-radius: 8px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	width: 100%;
	left: 50%;
	padding: 5px;
	transform: translate(-50%);
	font-size: clamp(1.5rem, 7vw, 2rem);
	color: white;
	font-family: 'Rubik', sans-serif;
	transition: opacity 400ms 850ms ease-in-out;
}

.card:hover > .card-preview-title {
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}

.card-content {
	position: absolute;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	width: 100%;
	color: white;
	z-index: 2;
	border-radius: 8px;
	opacity: 0;
	max-height: 1%;
	padding: 0 12px 0 12px;
	transition: all 900ms ease-in-out;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.card:hover > .card-content, .card:focus > .card-content {
	max-height: 100%;
	transition: all 900ms ease-in-out;
	opacity: 1;
}

.card-content > * {
	margin-bottom: 10px;
}

.card-title {
	margin-top: 10px;
	font-size: clamp(1.5rem, 7vw, 2rem);
}

.card-tags {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: clamp(0.7rem, 3.8vw, 1rem);
	gap: 10px;
}

.card-tag-attr {
	padding: 5px;
	border-radius: 16px;
	background-color: #0094FF;
}

.card-desc {
	font-size: clamp(0.8rem, 1vw, 1rem);
}

.card-link {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-link-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: #2957c1;
	color: white;
	border: none;
	padding: 10px;
	font-weight: 400;
	width: 70%;
	font-family: 'Rubik', sans-serif;
	font-size: clamp(0.7rem, 4vw, 1rem);
	border-radius: 8px;
	cursor: pointer;
}

.card-link-image {
	width: 32px;
	height: 32px;
}

/*          */
/* Snackbar */
/*          */

#snackbar {
	position: fixed;
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: clamp(0.8rem, 3vw, 1rem);
	left: 50%;
	transform: translate(-50%);
	bottom: 25px;
	z-index: 1;
	padding: 15px;
	background-color: #313131;
	border-radius: 10px;
	animation: snackAppear 1.5s ease; 
}

@keyframes snackAppear {
	0% {bottom: -100px;}
	100% {bottom: 25px;} 
}

/*                                    */
/* Screen Size Awareness / Animations */
/*                                    */

/* Toggle Mobile Navigation */
@media screen and (max-width: 1139px) {
	.navbar-link {
		display: none;
	}
	.mobile-hamburger {
		opacity: 100;
		display: flex;
	}    
}

@media screen and (min-width: 1140px) {
	#mobile-navlist[closed],
	#mobile-navlist[open] {
		display: none;
	}
	body[disabled] {
		overflow: visible;
	}
}

/* Shorten Logo */
@media screen and (max-width: 440px) {
	#navbar-logo {
		display: none;
	}
	#navbar-icon {
		display: inline;
		margin-left: 0.5rem;
	}
}

/* Adjustment of Navlist on Long but Short Screen Sizes */
@media screen and (max-height: 554px) {
	.navlist-link {
		padding-top: 0px;
	}
}

/* Page Contents/Containers */
@media screen and (max-width: 1224px) {
	#intro-container {
		flex-direction: column-reverse;
		justify-content: center;
	}
	#intro-content {
		text-align: center;
		width: 100%;
	}
	#intro-link {
		justify-content: center;
	}
}

@media screen and (max-height: 660px) {
	#intro-container {
		padding-top: 100px;
	}
}

@media screen and (max-height: 480px) {
	#intro-container {
		padding-top: 200px;
	}
}

/* Snackbar */
@media screen and (max-width: 338px) {
	#snackbar {
		text-align: center;
	}
}

/* Cards */
@media screen and (max-width: 430px) {
	.card {
		min-width: 350px;
		min-height: 400px;
    }
}

@media screen and (max-width: 375px) {
	.card {
		min-width: 300px;
		min-height: 350px;
    }
}

@media screen and (max-width: 325px) {
	.card {
		min-width: 250px;
		min-height: 300px;
    }
}