/* Anything due to: Height 100% is fixed, thanks to: coreuter! */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* All across the page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    background-color: #181a1a;
    height: 100%;
}

/* Body Toggle */ 
body[disabled] {
    overflow: hidden;
}

/* Scroll Bar */
html {
    scrollbar-width: thin;
    scrollbar-color: #868686;
}

html::-webkit-scrollbar {
    width: 0.5vw;
    -webkit-appearance: none;
}

html::-webkit-scrollbar-thumb {
    border-radius: 20px; 
    background-color: #868686;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #605e5e;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Desktop Navigation Bar */

.desktop-navbar {
    padding: 0.5rem 0 0.5rem 0.5rem;
    z-index: 2;
    top: 0;
    position: sticky;
    overflow: hidden;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151515;
}

.navbar-links > * {
    position: relative;
    display: inline-block;
    height: 100px;
    font-size: clamp(1rem, 2vw, 1.4rem);
    z-index: 1;
    padding: 2.4rem;
    margin: -2.4rem;
    height: 100%;
    margin-right: 2.4rem;
    color: white;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

.navbar-links > *:hover {
    background-color: #1e1e1e;
}

.navbar-links a:nth-of-type(4) {
    margin-right: 0;
}

#navbar-icon {
    display: none;
    height: 80px;
    width: 73.33px;
    object-fit: contain;
}

#navbar-logo {
    width: 300px;
    height: 80px;
    object-fit: contain;
}

/* Mobile Navigation Hamburger */

.mobile-hamburger {
    padding: 0;
    position: absolute;
    right: 30px;
    width: 32px;
    height: 32px;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    animation: appear 2.2s ease;
}

.mobile-hamburger .bar {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.9s;
}

/* Hamburger "Animation" */
.mobile-hamburger[open] .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 10px);
    transition: all 0.9s;
}
.mobile-hamburger[open] .bar:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.9s;
}

.mobile-hamburger[closed],
.mobile-hamburger[open] .bar:nth-child(3) {
    opacity: 1;
    transition: opacity 0.9s;
}

.mobile-hamburger[open] .bar:nth-child(3) {
    opacity: 0;
    transition: opacity 0.9s;
}

/* Mobile Navigation List */

#mobile-navlist[open],
#mobile-navlist {
    position: fixed;
    padding-top: 100px;
    z-index: 1;
    display: flex;
    top: 0;
    width: 100vw;
    height: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(21, 21, 21, 0.8);
    backdrop-filter: blur(3px);
    overflow-y: auto;
}

#mobile-navlist {
    overflow: hidden;
    padding-top: 0;
    height: 0;
    transition: all 1.5s;
}

#mobile-navlist[open] {
    height: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#navlist-title {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: white;
    font-size: 2rem
}

.navlist-link {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    cursor: pointer;
    margin-bottom: auto;
}

.navlist-link:focus {
    background-color: rgba( 0, 0, 0, 0.4 );
}

.navlist-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(344deg) brightness(107%) contrast(101%);
}

.navlist-link-text {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    color: white;
    text-decoration: none;
    width: 100px;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

/* Content */

p {
    color: white;
}

.test-pages {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.test-page-text {
    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

/* Snackbar */
#snackbar {
    position: fixed;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: clamp(0.6rem, 3vw, 1rem);
    left: 50%;
    transform: translate(-50%);
    bottom: 25px;
    z-index: 1;
    padding: 15px;
    background-color: #313131;
    border-radius: 10px;
    animation: snackAppear 1.5s ease; 
}

@keyframes snackAppear {
    0% {bottom: -100px;}
    100% {bottom: 25px;} 
}

/* Screen Size Awareness / Animations */

/* Toggle Mobile Navigation */
@media screen and (max-width: 1139px) {
    .navbar-link {
        display: none;
    }
    .mobile-hamburger {
        opacity: 100;
        display: flex;
    }    
}

@media screen and (min-width: 1140px) {
    #mobile-navlist[closed],
    #mobile-navlist[open] {
        display: none;
    }
    body[disabled] {
        overflow: visible;
    }
}

/* Shorten Logo */
@media screen and (max-width: 440px) {
    #navbar-logo {
        display: none;
    }
    #navbar-icon {
        display: inline;
        margin-left: 0.5rem;
    }
}

/* Adjustmnet of Navlist on Long but Short Screen Sizes */
@media screen and (max-height: 554px) {
    .navlist-link {
        padding-top: 0px;
    }
}